.form_main_header {
  height: 179px;
  background-color: $color-yellow;
  display: flex;
  flex-direction: column;
  padding: 50px 142px;

  .form_main_header_important {
    font-size: 36px;
    color: black;
  }

  .form_main_header_text {
    font-size: 22px;
    color: $color-gray-darker;
  }
}

.form_main_background_image {
  display: inline-block;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 883px;

  img {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
}

//step one

.form_main_step_one {
  display: flex;
  flex-direction: column;
  margin-left: 146px;

  .step_count {
    margin-top: 36px;
    font-size: 24px;
    color: $color-gray-darker;
  }

  .step_instruction {
    margin-top: 70px;
    font-size: 36px;
    color: black;
  }
}

.checkbox_container {
  display: block;
  position: relative;
  padding-left: 70px;
  padding-top: 8px;
  cursor: pointer;
  user-select: none;
  margin-top: 50px;
  font-size: 24px;
  color: black;
  font-weight: 300;

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
}

.checkbox:hover {
  background-color: $color-yellow;
}

.checkbox_container input:checked ~ .checkbox {
  background-color: $color-yellow;
}

.checkbox {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border: solid 0.75px $color-gray-darker;
  background-color: transparent;
  transition: background-color 0.3s ease-in-out;
}

.form_main_step_one_button {
  width: 180px;
  height: 79px;
  margin-top: 150px;
  border: solid 1px $color-gray-darker;
  background: transparent;
  font-size: 24px;
  font-weight: 300;

  &:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
}

//step two

.form_main_buttons {
  display: flex;
  margin-top: 312px;
  gap: 48px;
}

.form_main_step_two {
  margin-top: 49px;
  display: flex;

  p {
    font-size: 24px;
    font-weight: 300;
    color: $color-gray-darker;
    margin-right: 44px;
    margin-top: 12px;
  }

  .custom_select {
    position: relative;

    select {
      appearance: none;
      -webkit-appearance: none;
      width: 300px;
      height: 49px;
      background-color: transparent;
      font-size: 24px;
      font-weight: 300;
      color: $color-gray-darker;
      padding-left: 18px;
      padding-top: 8px;
      padding-bottom: 8px;
    }

    &::after,
    &::before {
      size: 15px;
      position: absolute;
      content: '';
      right: 20px;
      pointer-events: none;
    }

    &::after {
      border-left: 15px solid transparent;
      border-right: 15px solid transparent;
      border-top: 15px solid $color-gray-darker;
      top: 40%;
    }
  }
}
