.form_header {
  display: flex;
  justify-content: space-between;
}

.form_hero_image {
  height: 853px;
  overflow: hidden;
  margin-right: -150px;
}

.form_header_nav {
  display: flex;
  flex-direction: column;
  margin-top: 37px;
}

.form_nav_registration {
  display: flex;
  justify-content: flex-end;
  font-size: 13px;
  gap: 10px;

  a {
    text-decoration: none;
    color: $color-gray;
    padding: 9px 10px;
    border: solid 1px transparent;
    transition: border-color 0.3s ease-in-out;

    &:hover {
      border-color: $color-yellow;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      width: 90px;
      height: 36px;
    }
  }
}

.form_nav_menu {
  display: flex;
  justify-content: flex-end;
  font-size: 18px;
  gap: 40px;
  margin-top: 34px;

  .form_nav_link {
    cursor: pointer;
    text-decoration: none;
    color: $color-gray-darker;
    padding: 9px 10px;
    border: solid 1px transparent;
    transition: border-color 0.3s ease-in-out;

    &:hover {
      border-color: $color-gray-darker;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      width: 80px;
      height: 42px;
    }

    .form_link {
      text-decoration: none;
      color: $color-gray-darker;
    }
  }
}

.form_header_hero_text {
  justify-self: center;
  align-self: center;
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    font-size: 38px;
    color: $color-gray-darker;
    text-align: center;
    letter-spacing: -0.76px;
    line-height: 50px;
  }

  .form_header_hero_decoration {
    text-align: center;
    margin-top: 39px;
  }

  h2 {
    font-size: 40px;
    font-weight: 300;
    margin-top: 39px;
    color: $color-gray-darker;
  }
}

.form_steps {
  margin-top: 80px;
  display: flex;
}

.step_square {
  width: 190px;
  height: 190px;
  border: solid 0.75px $color-gray-darker;
  transform: rotate(45deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  span {
    transform: rotate(-45deg);
    font-size: 32px;
    color: $color-gray-darker;
    font-weight: 300;
    margin-right: 80px;
  }

  p {
    transform: rotate(-45deg);
    font-size: 22px;
    color: $color-gray-darker;
    font-weight: 300;
    width: 90px;
    height: 57px;
    text-align: center;
    margin-top: 10px;
    margin-left: 40px;
  }
}
