.register_header {
  display: flex;
  justify-content: flex-end;
}

.register_link {
  text-decoration: none;
  color: $color-gray-darker;
}

.register {
  height: 850px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    font-size: 40px;
    color: $color-gray-darker;
    letter-spacing: -0.8px;
  }

  .register_decoration {
    margin-top: 39px;
  }
}

.register_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 67px;
}

.register_form_inputs {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 385px;
  height: 328px;
  background-color: $color-cream;
  padding: 30px 60px;

  label {
    font-size: 16px;
    font-weight: 600;
    color: $color-gray-darker;
  }

  input {
    border: none;
    background-color: transparent;
    border-bottom: solid 1px $color-gray-darker;
    padding: 3px;
  }

  .register_error {
    margin-top: -15px;
  }
}

.register_buttons {
  width: 504px;
  display: flex;
  justify-content: space-between;
  margin-top: 53px;

  button {
    text-decoration: none;
    color: $color-gray-darker;
    padding: 9px 10px;
    border: solid 1px transparent;
    transition: border-color 0.3s ease-in-out;
    width: 117px;
    height: 50px;
    background-color: transparent;

    &:hover {
      border-color: $color-gray-darker;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      width: 117px;
      height: 50px;
    }

    .register_link {
      text-decoration: none;
      color: $color-gray-darker;
    }
  }
}
